.hoidanit {
    width: 250px;
}

* {
    margin: 0;
    padding: 0;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove (internal value);
}

legend {
    background-color: gray;
    color: white;
    padding: 5px 10px;
}



.form-add-new {
    width: 500px;
    margin: 0 auto;
    padding-top: 100px;
}

.input-group {
    padding: 10px;
}

button {
    margin-left: 10px;
    cursor: pointer;
}

h1 {
    color: #c00;
    font-family: sans-serif;
    font-size: 2em;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    /* Thêm thuộc tính căn giữa */
}

table {
    font-family: sans-serif;

    th,
    td {
        padding: .25em .5em;
        text-align: left;

        &:nth-child(2) {
            text-align: right;
        }
    }

    td {
        background-color: #eee;
    }

    th {
        background-color: #04AA6D;
        color: #fff;
    }
}

.zigzag {
    border-collapse: separate;
    border-spacing: .25em 1em;

    tbody tr:nth-child(odd) {
        transform: rotate(2deg);
    }

    thead tr,
    tbody tr:nth-child(even) {
        transform: rotate(-2deg);
    }

    margin: 0 auto;
}

.d-non {
    display: none;
}